.container {
    display: flex;
    border-color: black;
  }

.section1 {
  display: flex;
  border-color: black;
}
.section2 {
  display: flex;
  border-color: black;
}
.section3 {
  display: flex;
  border-color: black;
}
.section4 {
  display: flex;
  border-color: black;
} 
.item1 {
    flex-grow: 1;
    height: 100px;
    background: blue;
    border-color: black;
  }